@import url('https://fonts.googleapis.com/css?family=Noto+Serif:300,400,600');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	background: #222;
	font-family: 'Noto Serif', sans-serif;
	font-weight: 400;
	text-align: center;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.header {
	background-color: #000000;
	width: 100%;
	z-index: 3;
  }

  .header .header-container {
	display: flow-root;
	max-width: 100%;
	height: auto;
	position: relative;
	padding-left: 2.5em;
  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #000000;
  }
  
  .header li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	text-transform: uppercase;
	color: cyan;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	background-color: cyan;
	color: #000000;
  }
  
  .header .logo {
	float: left;
	margin: 15px;
	height: 30px;
	width: 30px;
  }
  
  .logo {
	transition: 0.50s;
	-webkit-transition: 0.50s;
	-moz-transition: 0.50s;
	-ms-transition: 0.50s;
	-o-transition: 0.50s;
	display: block;
	margin-right: auto;
	margin-left: auto;
  }
  
  .logo:hover {
	transition: 0.50s;
	-webkit-transition: 0.50s;
	-moz-transition: 0.50s;
	-ms-transition: 0.50s;
	-o-transition: 0.50s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
  }

  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
  }
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 28px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #00FFFF;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 20px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: cyan;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 320px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  
  @media (min-width: 48em) {
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
  }


.home-here {
	background: #0E0E0E;
	padding: 10em 0;
	color: white;
}

.home-me {
	font-size: 45px;
}

.home-para {
	font-size: 25px;
	margin: 1em .5em;
}

/* Illustration of Programmer Image */
.hero-img {
	width: 75vw;
	max-width: 500px;
	display: block;
	margin: 0;
	padding: 0;
	float: right;
}

span.wave {
	animation-name: wave-animation;    /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;          /* Change to speed up or slow down */
	animation-iteration-count: infinite;    /* Never stop waving :) */
	transform-origin: 70% 70%;         /* Pivot around the bottom-left palm */
	display: inline-block;
  }
  
  @keyframes wave-animation {
	  0% { transform: rotate(  0.0deg) }
	 10% { transform: rotate(-10.0deg) }    /* The following four values can be played with to make the waving more or less extreme */
	 20% { transform: rotate( 12.0deg) }
	 30% { transform: rotate(-10.0deg) }
	 40% { transform: rotate(  9.0deg) }
	 50% { transform: rotate(  0.0deg) }    /* Reset for the last half to pause */
	100% { transform: rotate(  0.0deg) }
  }

  .main-img{
	display: block;
	margin-bottom: 5vh;
	height: 50%;
	width: 90%;
	position: static;
	right: 0;
}

.hero-img{
	width: 75vw;
	max-width: 500px;
	display: block;
}

#spin {
	color:cyan;
	font-style:italic;
	margin: 0 .2em;
  }
  #spin:after {
	content:"";
	animation: spin 20s linear infinite;
  }
  @keyframes spin {
	0% { content: "self-taught";}
	10% { content: "passionate";}
	20% {content: "pragmatic";}
	40% { content: "self-taught";}
	50% { content: "passionate";}
	60% {content: "pragmatic";}
	80% { content: "self-taught";}
	90% { content: "passionate";}
	100% {content: "pragmatic";}
}


.button {
	text-align: center;
	display: inline-block;
	font-size: 1rem;
	text-decoration: none;
	text-transform: initial;
	border-width: 2px;
	border-style: solid;
	padding: .5em .5em;
	margin: 1.5em 1em;
}

.button-accent {
	color: #00FFFF;
	border-color: #00FFFF;
}

.button-accent:hover,
.button-accent:focus {
	background-color: #00FFFF;
	color: #0E0E0E;
}

.button-group {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	display: block;
}

@media screen and (min-width : 768px) and (max-width : 1023px){
	.container{
		width: 60%;
		margin: 0 auto;
	}

	
	.home-here {
		background: #0E0E0E;
		padding: 10em 0;
		color: white;
	}
	
	.home-me {
		font-size: 35px;
	}
	
	.home-para {
		font-size: 20px;
		margin: 1em 0em;
		width: 102%;
	}
}


@media screen and (min-width : 0px) and (max-width : 767px){
	.container{
		width: 80%;
		margin: 0 auto;
	}

	
	.home-here {
		background: #0E0E0E;
		padding: 6em 0;
		color: white;
	}
	
	.home-me {
		font-size: 20px;
	}
	
	.home-para {
		font-size: 12px;
		margin: 1em 0em;
		width: 102%;
	}

	.button {
		text-align: center;
		display: inline-block;
		font-size: .8rem;
		text-decoration: none;
		text-transform: initial;
		border-width: 1px;
		border-style: solid;
		padding: .5em .5em;
		margin: 1.5em 1em;
	}

	.button-group {
		width: 100%;
		justify-content: center;
		display: flex;
		align-items: center;
		display: block;
	}
}

.home-skills {
	display: block;
	padding: 3em 1.5em;
	background: #000000;
}

.skills-para {
	font-weight: 500; 
	font-size: 25px; 
	color: #00FFFF;
	margin: 1em;
}

.card {
	display: block;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.item {
	width: 120px;
	height: 150px;
	background-size: 100% 100%;
	display: flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	padding: .5em 1em;
	margin: 2em 2.6em;
}

.icon-measure {
	width: 100px;
	height: 70px;
}

.icon-measure-1 {
	width: 70px;
	height: 70px;
}

.icon-name {
	padding: 1em 0;
	font-size: 7 px;
	display: none;
	color:cyan;
	text-align: center;
}

.item:hover .icon-name {
	display: block;
}


@media screen and (min-width : 768px) and (max-width : 1023px){
	.home-skills {
		display: block;
		padding: 3em 1.5em;
		background: #000000;
	}
	
	.skills-para {
		font-weight: 500; 
		font-size: 25px; 
		color: #00FFFF;
	}

	.card {
		display: block;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	
	.item {
		width: 100px;
		height: 120px;
		background-size: 100% 100%;
		display: flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
		padding: .3em .1em;
		margin: 1em 2.6em;
	}
	
	.icon-measure {
		width: 100px;
		height: 70px;
	}

	.icon-measure-1 {
		width: 70px;
		height: 70px;
	}

	.icon-name {
		padding: 1em 0;
		font-size: 7 px;
		display: none;
		color:cyan;
		text-align: center;
	}
	
	.item:hover .icon-name {
		display: block;
	}
}


@media screen and (min-width : 0px) and (max-width : 767px){

	.home-skills {
		display: block;
		padding: .5em .5em;
		background: #000000;
	}
	
	.skills-para {
		font-weight: 500; 
		font-size: 20px; 
		color: #00FFFF;
	}

	.card {
		display: block;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	
	.item {
		width: 66px;
		height: 80px;
		background-size: 100% 100%;
		display: flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
		padding: .1em .1em;
		margin: 1em 1.1em;
	}
	
	.icon-measure {
		width: 60px;
		height: 45px;
	}

	.icon-measure-1 {
		width: 45px;
		height: 45px;
	}

	.icon-name {
		padding: 2px 0;
		font-size: 10px;
		display: none;
		color:cyan;
		text-align: center;
	}

	.item:hover .icon-name {
		display: block;
	}

}

.portfolio {
	background: #0E0E0E;
	padding: 3em 0;
	color: lightgray;
}

.port-para {
	font-weight: 500; 
	font-size: 25px; 
	color: #00FFFF;
}

.ecard {
	display: inline-flexbox;
	margin-right: 90px;
	margin-left: 90px;
	margin-top: 60px;

	background: #000000;
	padding: 24px;
	border: #00FFFF;
	box-shadow: 2rem 2rem 2rem #000000;
	border-style: solid;
	border-width: thin;
}

.my-role {
	font-size: 17px;
}

.company {
	margin: 5px 0;
	font-style: italic;
	font-weight: 800;
	font-size: 17px;
}

.employmenttime {
	margin-bottom: 5px;
	font-weight: 600;
	text-align: center;
	font-size: 15px;
}

.description {
	margin: 1.5em;
	text-align: justify;
	display: block;
}

.github-calendar {
	background: #FFFFFF;
	padding: 3em 7em;
	color:#000000;
	border: #00FFFF;
	border-style: solid;
	border-width: thin;
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
	
	.portfolio {
		background: #0E0E0E;
		padding: 3em 0;
		color: lightgray;
	}
	
	.port-para {
		font-weight: 500; 
		font-size: 20px; 
		color: #00FFFF;
	}

	.ecard {
		display: inline-flexbox;
		margin-right: 90px;
		margin-left: 90px;
		margin-top: 60px;
	
		background: #000000;
		padding: 24px;
		border: #00FFFF;
		box-shadow: 2rem 2rem 2rem #000000;
		border-style: solid;
		border-width: thin;
	}

	.my-role{
		font-size: 15px;
	}
	
	.company {
		margin: 5px 0;
		font-style: italic;
		font-weight: 600;
		font-size: 15px;
	}
	
	.employmenttime {
		margin-bottom: 5px;
		font-weight: 400;
		text-align: center;
		font-size: 15px;
	}
	
	.description {
		margin: 1.5em;
		text-align: justify;
		display: block;
		font-size: 13px;
	}
	
	.github-calendar {
		background: #FFFFFF;
		padding: 3em 3em;
		color:#000000;
		border: #00FFFF;
		border-style: solid;
		border-width: thin;
	}
}

@media screen and (min-width : 0px) and (max-width : 767px) {
	
	.portfolio {
		background: #0E0E0E;
		padding: 3em 0;
		color: lightgray;
	}
	
	.port-para {
		font-weight: 500; 
		font-size: 20px; 
		color: #00FFFF;
	}

	.ecard {
		margin-right: 10px;
		margin-left: 10px;
		margin-top: 20px;
	
		background: #000000;
		padding: 15px;
		border: #00FFFF;
		box-shadow: 2rem 2rem 2rem #000000;
		border-style: solid;
		border-width: thin;
	}

	.my-role {
		font-size: 13px;
	}
	
	.company {
		margin: 5px 0;
		font-style: italic;
		font-weight: 800;
		font-size: 13px;
	}
	
	.employmenttime {
		margin-bottom: 5px;
		font-weight: 600;
		text-align: center;
		font-size: 13px;
	}
	
	.description {
		margin: 1.5em;
		text-align: justify;
		display: block;
		font-size: 11px;
	}
	
	.github-calendar {
		background: #FFFFFF;
		padding: 2em .2em;
		color:#000000;
		border: #00FFFF;
		border-style: solid;
		border-width: thin;
	}
}

@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.daretodream{
	margin: .4em;
	padding: 3em 0;
	float: right;
}

.daretodream > h1 {
  font-size: calc(20px + 18px);
  line-height: calc(20px + 20px);
  text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF, 0 0 60px #0E0E0E, 0 0 10px #00FFFF, 0 0 98px #0E0E0E;
    color: lightcyan;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

.daretodream > body {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
	text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF, 0 0 60px #0E0E0E, 0 0 10px #00FFFF, 0 0 98px #0E0E0E;
    color: lightcyan;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
	text-shadow: 0 0 5px #00FFFF, 0 0 15px #00FFFF, 0 0 20px #00FFFF, 0 0 40px #00FFFF, 0 0 60px #0E0E0E, 0 0 10px #00FFFF, 0 0 98px #0E0E0E;
    color: lightcyan;
  }
}

.interests {
	background: #000000;
	padding: 3em 1.5em;
	flex-wrap: wrap;
}

.interest-para {
	font-weight: 500; 
	font-size: 25px; 
	color: #00FFFF;
	text-align: center;
}

.icard {
	display: block;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.passion {
	max-width: 200px;
	max-height: 240px;
	background-size: 100% 100%;
	display: flexbox;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	cursor: pointer;
	padding: 1em 1em;
	margin: 2em 3em;
}

.passion-icons {
	width: 200px; 
	height: 200px;
}

.picon-name {
	padding: 0;
	margin-left: 2em ;
	font-size: 13px;
	display: block;
	color: lightblue;
	text-align: center;
}

@media screen and (min-width : 768px) and (max-width : 1023px){
	.interests {
		background: #000000;
		padding: 5em 5em;
		flex-wrap: wrap;
	}

	.interest-para {
		font-weight: 500; 
		font-size: 20px; 
		color: #00FFFF;
		text-align: center;
	}
	
	.icard {
		display: block;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	
	.passion {
		max-width: 200px;
		max-height: 200px;
		background-size: 100% 100%;
		display: flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
		padding: 1em 1em;
		margin: 2em 3em;
	}

	.passion-icons {
		width: 150px; 
		height: 150px;
	}

	.picon-name {
		padding: 0;
		margin-left: .2em ;
		font-size: 15px;
		display: block;
		color: lightblue;
		text-align: center;
	}

	.daretodream{
		margin: 1.5em;
		padding: 3em 0;
		float: right;
	}
}

@media screen and (min-width : 0px) and (max-width : 767px) {
	
	.interests {
		background: #000000;
		padding: 3em 1.5em;
		flex-wrap: wrap;
	}
	
	.interest-para {
		font-weight: 500; 
		font-size: 20px; 
		color: #00FFFF;
		text-align: center;
	}

	.icard {
		display: block;
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	
	.passion {
		max-width: 150px;
		max-height: 150px;
		background-size: 100% 100%;
		display: flexbox;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
		padding: .3em .1em;
		margin: 1em 1em;
	}

	.passion-icons {
		width: 100px; 
		height: 100px;
	}

	.picon-name {
		padding: 0;
		margin-left: .2em ;
		font-size: 13px;
		display: block;
		color: lightblue;
		text-align: center;
	}

	.daretodream{
		margin: 1.5em;
		padding: 3em 0;
		float: right;
	}
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.contact {
	background: #0E0E0E;
	padding: 3em 2.5em;
	flex-wrap: wrap;
}

.contact-head {
	font-weight:500; 
	font-size: 25px; 
	color: #00FFFF; 
	text-align: center;
}

.contact-body {
	color: lightgray; 
	font-size: 25px; 
	font-weight: 500; 
	padding: 1.5em;
}

.contact-mail {
	color: lightblue; 
	font-size: 25px; 
	font-weight: 500; 
	padding: .5em;
	font-style: italic;
}

.social {
	justify-content: center;
	display: flex;
}


.fa {
	padding: .5em;
	margin: .3em .3em;
}

.fa:hover {
	background-color: #000000
	
}

@media screen and (min-width : 768px) and (max-width : 1023px) {
	.contact {
		background: #0E0E0E;
		padding: 3em 2.5em;
		flex-wrap: wrap;
	}
	
	.contact-head {
		font-weight:500; 
		font-size: 20px; 
		color: #00FFFF; 
		text-align: center;
	}
	
	.contact-body {
		color: lightgray; 
		font-size: 20px; 
		font-weight: 500; 
		padding: 1.5em;
	}
	
	.contact-mail {
		color: lightblue; 
		font-size: 20px; 
		font-weight: 500; 
		padding: .5em;
		font-style: italic;
	}
	
	.social {
		justify-content: center;
		display: flex;
	}
	
	
	.fa {
		padding: .5em;
		margin: .3em .3em;
	}
	
	.fa:hover {
		background-color: #000000
		
	}
	
}

@media screen and (min-width : 0px) and (max-width : 767px) {
	.contact {
		background: #0E0E0E;
		padding: 3em 2.5em;
		flex-wrap: wrap;
	}
	
	.contact-head {
		font-weight:500; 
		font-size: 20px; 
		color: #00FFFF; 
		text-align: center;
	}
	
	.contact-body {
		color: lightgray; 
		font-size: 15px; 
		font-weight: 500; 
		padding: 1.5em;
	}
	
	.contact-mail {
		color: lightblue; 
		font-size: 15px; 
		font-weight: 500; 
		padding: 0;
		font-style: italic;
	}
	
	.social {
		justify-content: center;
		display: flex;
	}
	
	.fa {
		padding: .5em;
		margin: .3em .1em;
	}
	
	.fa:hover {
		background-color: #000000
		
	}
}

.footer {
    padding: 2rem;
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 0;
}

.go-top {
	font-size: 16px;
	right:1em;
	bottom:2em;
	color:cyan;
	text-decoration:none;
	background:#000000;
	padding:5px;
	border-radius: 5px;
	border:1px solid cyan;
	box-shadow: .1em 0 0;
	position:fixed;
}
